body {
    *::after,
    *::before {
      box-sizing: border-box;
    }
}

.burger-menu{
    display: none;
}

.menu-btn {
    display: inline-flex;
    position: relative;
    cursor: pointer;
    z-index: 10;
    user-select: none;
  }
  
  .burger-menu-img:hover {
    background-color: rgba(167, 167, 167, 0.067);
    border-radius: 20px;
  }
  
  .menubox {
    display: block;
    opacity: 0; 
    width: 140px;
    transition-duration: 0.25s;
    user-select: none;
    pointer-events: none;
    position: absolute  ;
  }
  
  .menu-item {
    position: relative;
    border-radius: 20px;
    border: 1px solid #fff;
    color: white;
    display: flex;
    right: 85px;
    padding: 10px 16px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  
  .menu-item:hover {
    background-color: rgba(167, 167, 167, 0.067);
  }
  
  #menu-toggle {
    display: none;
  }
  
    #menu-toggle:checked ~ .menubox {
      opacity: 1;
      pointer-events: auto;
      display: block; 
    }

.header-navbar{
    background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
    width: auto;
    height: 800px;
    flex-shrink: 0; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    
}

.navbar-content.fixed{
    width: 100%;
    height: 92px;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background-color: black;
    display: flex;
    padding: 0px;
    z-index: 9999;
}

.navbar-content{
    display: flex;
    align-items: center;
    padding-top: 30px;
    justify-content: space-evenly;
    padding-left: 4%;
    

    &_logo{
        display: flex;
    }
    
}

.navbar-list {   
    flex-direction: row;
    padding: 10px 16px;
    display: flex;
    list-style: none;   
    align-items: center;
    gap: 12px;
    margin-right: 60px;

    &_items {
        border-radius: 20px;
        border: 1px solid #FFF;
        color: white;
        display: flex;
        padding: 10px 16px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        cursor: pointer;  
        transition-duration: .25s;  
    }

    &_items:hover{
        background-color: rgba(167, 167, 167, 0.067);
    }

    &_text{
        color: #FFF;
        font-family: DynaPuff;
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        width: 846px;
        height: 190px;
        margin-bottom: 140px;
        margin-left: 23%;
        position: absolute;
        top: 60%;
    }
}

.contant-one{
    margin: 0 auto;
    flex-shrink: 0;
    background: #202020;
    padding-top: 65px;
    padding-left: 20%;
    padding-bottom: 60px;
    
    
    

    &_title{
        color: #FAEB49;
        font-family: DynaPuff;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        
    
    }

    &_text{
        color: #FFF;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 500px;
        white-space: row;
        
    }
}

.contant-one-items{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-right: 15px;
    
}

.contant-one-container{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    overflow: hidden;    
}

.contant-one-date{
    display: flex;
    gap: 76px;

    &_items{
    color: #FFF;
    font-family: DynaPuff;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }

    &_items-text{
        color: #FFF;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.ellipse{
    position: relative;
    width: 268px;
    

    &_one{
        z-index: 2;
        position: absolute;
        overflow: auto;
                
    }

    &_two{
        z-index: 3;
        overflow: auto;
           
    }
}



.content-two{
    width: auto;
    background: #3C3C3C;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    gap: 62px;
    padding-top: 86px;
    padding-bottom: 72px;
    

&_Item-1{
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 24px;
    background: #FFFEF2;
    
    
    
    img {
    display: flex;
    height: 498px;
    padding: 20px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    cursor: pointer;
    }

    h1 {
    color: #565656;
    font-family: DynaPuff;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 20px;
    }

    p {
        color: #000;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 20px;
    width: 580px;
    margin-bottom: 30px;
    }
}

&_Item-2{
    display: flex;
    width: 325px;
    height: 545px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 24px;
    background: #FFFEF2;
    
    img{
        display: flex;
        height: 338px;
        padding: 20px;
        justify-content: flex-end;
        align-items: flex-start;
        margin-bottom: 15px;
        cursor: pointer;
        }
    
        h1 {
        color: #565656;
        font-family: DynaPuff;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-left: 20px;
        margin-bottom: 22px;
        }
    
        p {
        color: #000;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 286px;
        margin-left: 20px;
        }

}

&_Item-3 {
    display: flex;
    width: 325px;
    height: 545px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 24px;
    background: #FFFEF2;
    align-items: center;
    
    img{
    display: flex;
    height: 338px;
    padding: 20px;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 15px;
    }

    h1 {
    color: #565656;
    font-family: DynaPuff;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 22px;
    }
    
    p {
    color: #000;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 286px;
    margin-left: 2px;
     }
}

&_Item-4 {
    display: flex;
    width: 325px;
    height: 545px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 24px;
    background: #FFFEF2;

    img{
        display: flex;
        height: 338px;
        padding: 20px;
        justify-content: flex-end;
        align-items: flex-start;
        margin-bottom: 15px;
        }
    
        h1 {
        color: #565656;
        font-family: DynaPuff;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-left: 20px;
        margin-bottom: 22px;
        }
    
        p {
        color: #000;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 286px;
        margin-left: 20px;
        }
}
}

.content-two-items{
    display: flex;
    gap: 42px;
}


.content-three{
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #202020;
    padding-bottom: 90px;
    
    
    &_title {
    color: #FFF;
    font-family: DynaPuff;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-right: 21%;
    user-select: none;
    
    }

    &_item-1{
        display: flex;
        margin: 0 auto;
        margin-bottom: 30px;
        align-items: center;
        justify-content: center;
    }

    &_item-1-img-2{
        position: absolute;
        display: flex;
    }

    &_item-2{
        display: flex;
        align-items: center;
        justify-content: center;    
    }

    &_item-2-img-2{
        position: absolute; 
    }

    &_item-3{
        display: flex;
        align-items: center;
        justify-content: center;
    }


    &_item-3-img-2{
        position: absolute;
    }
}

.content-three-items{
    display: flex;
    margin: 0 auto;
    gap: 20px;
    
}


.contant-four{
    display: flex;
    margin: 0 auto;
    width: auto;
    height: 800px;
    background-image: url(../images/Rectangle8.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center; 
    position: relative; 
    z-index: 1; 

    h1{
        width: 1059px;
        color: #FFF;
        text-align: center;
        font-family: DynaPuff;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        z-index: 3;
        justify-content: center;
        align-items: center;
        display: flex;
        margin: 0 auto;
        user-select: none;
    }
}

.contant-four::after{
    content : '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.5;
    z-index: 2;
}

.contant-four-items{
    background: #202020;
    margin: 0 auto;   
    display: flex; 
    gap: 15px;
    padding-top: 80px;
    align-items: center;
    flex-direction: column;
    
    
    a {
        text-decoration: none;
       }

} 
    
.contant-four-item{
    display: flex;
    padding: 42px 137px;
    align-items: flex-start;
    gap: 45px;
    border: 1px solid #FFF ;
    border-radius: 139px;
    transition: 0.3s ease;
    
    
    
    &_item-2{

        h1 {
        color: #FFF;
        text-align: center;
        font-family: DynaPuff;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        }
    
        p {
            color: #FFF;
            font-family: Manrope;
            font-size: 24px;
            font-style: normal;
            font-weight: 500; 
            position: relative;
            margin-top: 17px;

            .arrow {
                margin-left: 24px;
                position: absolute;
                margin-top: 3px;   
            }
        }
        }
} 

.contant-four-item:hover{
    background-color: #3C3C3C;
    border-radius: 139px;
}


.contant-four-links{
    display: flex;
    gap: 34px;
    margin-right: 35px;
    margin-top: 150px;
    
}

.contant-four-text{
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .navbar-content{
        justify-content: space-between;
        padding: 25px;
    }

    .navbar-list{
        display: none;
    }

    .navbar-content_logo{
        top: 30px;
    }
   
    .burger-menu {
      display: block;
      align-items: end;
      top: 30px;
    }

    .navbar-list_text{
        width: auto;
        margin-left: 5%;
        font-size: 48px;
    }

    .navbar-content.fixed{
        display: none;
    }

    .contant-one{
        margin: 0;
        padding-left: 1px;
        width: auto;
        height: auto;
    }

    .contant-one-items{
        width: auto;
        height: 318px;
        margin: 20px;

        h1{
            font-size: 36px;
            margin-bottom: 25px;
        }

        P{
            font-size: 15px;
            width: auto;
            margin-bottom: 25px;
        }

        .contant-one-date{
            gap: 16px;

            &_items{
                font-size: 48px;
            }
    
            &_items-text{
                font-size: 16px;
            }
        }
    }

    .ellipse{
        
        &_one{
            width: auto;
            height: 319.978px;

        }

        &_two{
            width: auto;
            height: 319.978px;
        }
    }

    .content-two{
        padding-top: 42px;
        gap: 82px;
    
        &_Item-1{
            width: 303px;
            height: auto;
            
        
            img{
            width: 262px;
            height: 278px; 
            padding-bottom: 5px;
            border-radius: 35px;  
            }

            h1{
            font-size: 30px;
            padding-bottom: 5px;
            }

            p{
            font-size: 15px;
            width: 280px;
            }
        }
        
        &_Item-2 {
            display: none;
        }
    
        &_Item-3{
            height: auto;
            width: 303px;
            
            
            img{
            height: 448px;
            width: 263px; 
            padding-bottom: 5px;
            }
    
            h1{
                font-size: 22px
            }

            p{
                font-size: 15px;
                width: 272px;
                margin-bottom: 25px;
                }
        }
    
        &_Item-4{
            display: none;
        }
    }
  
.content-three{
    display: block;

    &_title{
    margin: 0 auto;
    font-size: 36px;
    padding-top: 50px;
    margin-bottom: 30px;
    }

    &_item-1-img-1{
     width: 303px;
     height: 280px;
     border-radius: 25px;
     }
    
     &_item-1-img-2{
     width: 172px;
     height: 172px;
     }
    
     &_item-2-img-1{
     width: 303px;
     height: 280px;
     margin-bottom: 30px;
     }
    
     &_item-2-img-2{
     width: 124px;
     height: 127px;
    
     }

     &_item-3-img-1{
    width: 303px;
    height: 280px;
     }
    
     &_item-3-img-2{
        width: 134px;
        height: 137px;
     }
}

    .content-three-items{
        display: block;
    }


.contant-four{
    height: 498px;

    h1{
        font-size: 24px;
        width: auto;
    }
}    

.contant-four-item{
    width: auto;
    height: 62px;
    padding: 2px 13px;
    margin-left: 3px;
    gap: 10px;
    align-items: center;

        &_item-1 img{
            width: 52px;
            height: 51px;
        }

        &_item-2{
            h1{
                font-size: 20px;
                
            }

            p{
                font-size: 15px;
            }
        }
 .arrow{
    width: 32px;
    height: 15;
        }
}

.contant-four-links{
    margin-top: 60px;
}

.contant-four-text{
    font-size: 14px;
}
}


@media screen and (min-width: 768px) and (max-width: 1200px){

    .header-navbar{
        padding-bottom: 40%;
    }

    .navbar-content.fixed{
        display: none;
    }

    .navbar-content{
        justify-content: space-between;
        padding: 45px;
        margin-bottom: 15px;
       
    }

    .navbar-list{
        display: none;
    }

    .navbar-content_logo{
        top: 30px;
    }
   
    .burger-menu {
      display: block;
      align-items: end;
      top: 30px;
    }

    .navbar-list_text{
        width: auto;
        margin-left: 5%;
        font-size: 80px;
        margin-bottom: 50px;

    }

    .navbar-content.fixed{
        display: none;
    }

    .contant-one{
        padding-left: 15px;
    }


.content-two{
    padding-top: 42px;
    gap: 82px;

    &_Item-1{
        width: 703px;
    
        img{
        height: 326px;
            
        }
    }
    
    &_Item-2 {
        height: auto;
        width: 333px;
        padding-bottom: 15px;
        
        
        img{
        height: 448px;
        width: 293px; 
        padding-bottom: 5px;
        }

        h1{
        padding-bottom: 1px;
        }
    }

    &_Item-3{
        height: auto;
        width: 333px;
        padding-bottom: 15px;
        

        img{
        height: 448px;
        width: 293px; 
        padding-bottom: 5px;
        }

        h1{
        padding-bottom: 1px;
        }
    }

    &_Item-4{
        display: none;
    }
}

.content-three{

    &_title{
    margin-right: 0px;
    }

    &_item-1-img-1{
     width: 704px;
     height: 414px;
     flex-shrink: 0;
     }
    
     &_item-1-img-2{
     width: 227px;
     height: 227px;
     flex-shrink: 0;
     }
    
     &_item-2-img-1{
     width: 336px;
     height: 325px;
     flex-shrink: 0;
     }
    
     &_item-2-img-2{
     width: 147px;
     height: 151px;
     flex-shrink: 0;
     }

     &_item-3-img-1{
     width: 336px;
     height: 325px;
     flex-shrink: 0;
     }
    
     &_item-3-img-2{
     width: 147px;
     height: 151px;
     flex-shrink: 0;
     }
     
}

.contant-four-item{
    padding: 22px 42px;
}

.contant-four-links{
    margin-top: 60px;
}
}

